.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0px;
  margin-left: 0px;
  color: #2f80ed;
}
.two-columns__brief:hover {
  opacity: .5;
  transition: .3s;
  }
